// Specific CSS for your home-page
.category_container{
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
}


.category_container h2.text-center {
  font-size: 3em;
  margin-bottom: 80px;
}

.card_c {
  box-shadow: 0 0 30px;
  overflow: hidden;
  border-radius: 15px;
  margin: 7px;
  width: 207px;
  height: 150px;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: .2s;
}

.card_c:hover{
  transform: scale(1.1);
}
