<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Nosotros</h6>
        <p class="text-justify">QueHayPaHacer es una iniciativa por estudiantes y personas que vivimos en Medellín, para dar conocer los parches mas chimbas de la ciudad, conocer su gastronomía, sus sitios culturales, sus zonas verdes y así enamorar a los extranjeros de la ciudad de la eterna primavera .</p>

      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Sobre nosotros</h6>
        <ul class="footer-links">
          <li><a href="#">Contact us</a></li>
          <li><a href="#">PQR</a></li>
          <li><a href="#">Terms and conditions</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>DEVELOPERS</h6>
        <ul class="footer-links">
          <li><i class="fa-brands fa-linkedin" ></i><a class="linkedin" href="http://scanfcode.com/privacy-policy/"> Sebastián Aristizábal </i></a></li>
          <li><i class="fa-brands fa-linkedin"></i><a class="linkedin" href="http://scanfcode.com/privacy-policy/"> Daniel Rendon </i></a></li>
          <li><i class="fa-brands fa-linkedin"></i><a class="linkedin" href="http://scanfcode.com/privacy-policy/"> Andrea Guzmán</i></a></li>
          <li><i class="fa-brands fa-linkedin"></i><a class="linkedin" href="http://scanfcode.com/privacy-policy/"> Daniel Soriano </i></a></li>

        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
          <a>QueHayPaHacer</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
