<h1>CATEGORIAS</h1>
<%#= raise %>
<% @category.each do |category| %>
  <p>Category: <%= category.name %> </p>
  <%= link_to plans_path(category_id: 2)%>
  <%#= link_to "Details", plans_path %>
<% end %>


<h6><%= link_to "TODOS LOS PLANES", plans_path %></h6>
