//login y Sign up, nuevo parche
.contenedor3{
  width: 20%;
  height: 20%;
  display: flex;
  padding: 20px;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  margin: 15px auto;
  flex-grow: 40;
  justify-content: center;
}
.title-form {
  font-family: Poppins;
  text-align: center;
}
.contenedor3p{
  width: 30%;
  height: 20%;
  display: flex;
  padding: 20px;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  margin: 15px auto;
  flex-grow: 40;
  justify-content: center;
}
////////////////////////////////////////////////////////////////////////
