//login y Sign up, nuevo parche, detalles de parche, formulario review
.contenedor3{
  width: 20%;
  height: 20%;
  display: flex;
  padding: 20px;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  margin: 15px auto;
  flex-grow: 40;
  justify-content: center;
  opacity: 100%;
}

.contenedor1{
  width: 20%;
  height: 20%;
}
.title-form {
  font-family: Poppins;
  text-align: center;
  padding: 13px;
}
.title-form1 {
  font-family: Poppins;
  font-weight: 800;
}
.contenedor_newplans{
  width: 55%;
  height: 20%;
  display: flex;
  padding: 20px;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  margin: 15px auto;
  flex-grow: 40;
  justify-content: center;
}

.contenedor_detalles{
  width: 40%;
  height: 30%;
  padding: 20px;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  /*margin: 15px auto;*/
  flex-grow: 40;
  justify-content: center;
}
.contenedor_editplans{
  width: 55%;
  height: 20%;
  display: flex;
  padding: 20px;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  margin: 15px auto;
  flex-grow: 40;
  justify-content: center;
}

.formulario_review{
  width: 50%;
  height: 30%;
  /*display: flex;*/
  padding: 20px;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  margin: auto auto;
  flex-grow: 40;
  justify-content: center;
  margin-top: 42px;
}
.reviews{
  width: 50%;
  height: 30%;
  /*display: flex;*/
  padding: 20px;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  margin: auto auto;
  flex-grow: 40;
  justify-content: center;
  padding: 0 100px;
  margin-top: 42px;
}

.review {
  display: flex;
  justify-content: space-around;
}

.btn-primary{
  width: 154px;
}
.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  max-width: 180px;

}
.col-8 {
  flex: 0 0 66.66666667%;
  max-width: 66.66666667%;
}
.p-0 {
  padding: 0 !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}
.pr-5, .px-5 {
  padding-right: 3rem !important;
}

.mb-5, .my-5 {
  margin-bottom: 3rem !important;
}
.mr-5, .mx-5 {
  margin-right: 3rem !important;
}
.ml-4, .mx-4 {
  margin-left: 1.5rem !important;
}
.mt-2, .my-2 {
  margin-top: 0.5rem !important;
}
.col-4 {
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
}

.sign-up-container {
  display: flex;
  background-color: white;
}
////////////////////////////////////////////////////////////////////////
/*buscador estilos*/
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0E0000;
  background-color: #F4F4F4;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 30px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 290px;
}
//////////////////////////////////////////////////////////////////////////
/* estilos cards home*/

*,
*::before,
*::after {
    box-sizing: border-box;
}



body {
    color: #999999;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

img {

    height: auto;
    max-width: 100%;
    vertical-align: middle;

}


.btn {
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 1rem;
    color: #256d72;
    padding: 0.5rem;
    font-weight: 600;
    margin: 6px;
}

.btn--block {
    display: block;
    width: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: .2s
}

.cards1 {
  display: flex;
  /* flex-wrap: wrap; */
  list-style: none;
  margin: 0;
  padding: 0;
  transition: .2s;
  padding: 0 100px;
}

.cards__item {
    display: flex;
    padding: 1rem;

    @media(min-width: 40rem) {
        width: 50%;
    }

    @media(min-width: 56rem) {
        width: 33.3333%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 400px;
    transition: .2s
}

.card:hover{
  transform: scale(1.1);
}
.card__image {
    filter: contrast(100%);
}

.card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
}

.card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    filter: saturate(180%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);



    @media(min-width: 40rem) {
        ::before {
            padding-top: 66.6%;
        }
    }
}

.card__image::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}



.card__image--record {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/imagenes-final.appspot.com/o/downtown-medellin-colombia.webp?alt=media&token=37081033-31cf-4bf6-a877-20b555ae2190);
}

.mapa_fake{
  width: 40%;
  margin-top: -500px;
  margin: auto 848px;
}


.card__title {
    color: #696969;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.card__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}
.parches{
  background-color: #f4f4f4;
  max-width: 210px;
  height: 73px;
  padding: inherit;

  margin-inline: auto;
  align-content: center;
  display:  inline-flex;
}
.Nparches{
  background-color: #f4f4f4;
  width: 178px;
  height: 73px;
  padding: inherit;
  margin: 15px auto;
  margin-inline: auto;
  align-content: center;
  display:  inline-flex;
}

.photos {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.show-plan {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

.free {
  background-color: rgb(245, 244, 244);
  border: 1px solid #cccccc;

  padding: 0.5rem;
}

.card-time {
  background-color: #ffffff;
  margin: 50px;
}

.plan-title {
  text-align: center;
}

.show-plan {
  display: flex;
  justify-content: space-around;
}

.item_review {
  position: relative;
  display: block;
  padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
  color: var(--bs-list-group-color);
  text-decoration: none;
  background-color: var(--bs-list-group-bg);
}
/*footer*/

.site-footer
{
  background: linear-gradient(45deg,#256d72, #39c2b6) !important;
  padding:20px 0 20px;
  font-size:12px;
  line-height:24px;
  color:#000000;
  bottom: 0;
  margin-top: 150px;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:rgb(255, 255, 255);
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#ffffff;
}
.site-footer a:hover
{
  color:#c1c3e0;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#ffffff
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#c1c3e0;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#000000
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}



.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#000000
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

.social-icons a.linkedin:hover
{
  background-color:#000000
}
/////////////baner//////////////////////
.banner {
  background-color: #f1f7f4;
  background-position: left;
  background-size: cover;
  position: relative;
  padding: 13% 0;
  overflow: hidden;
  color: #ffffff;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.video-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.video-container video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.content.center-column {
  text-align: center;
  margin: 0 auto;
  width: 90%;
  max-width: 90%;
  position: relative;
  z-index: 1;
  bottom: 30px;
}

.content.center-column h1 {
  // color: rgb(0, 0, 0);
  font-style: oblique;
  font-weight: 800;
  font-size: 46px;
  width: 72%;
  margin: 0 auto 20px;
}
//////////////////////////////////////////////////////////cards todos los parches y nuevo parche
.feature-panel--right {
  justify-content: center;
}

.feature-panel {
padding-left: 60px;
padding-right: 60px;
}

.feature-panel {
  width: 95%;
  max-width: 1280px;
  // padding-left: 15px;
  // padding-right: 15px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  // margin: 120px auto;
}
.feature-panel--align-left .feature-panel__title {
  padding-left: 0;
  margin-left: 0;
}
// .feature-panel {
// margin: 120px auto;
// }
.feature-panel--right .feature-panel__media {
  order: 2;
  width: 70%;
}
.feature-panel--right1 .feature-panel__media1 {
  // order: 2;
  width: 70%;
 }
.feature-panel__content{
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 54px;
}

.element{
  background-color: rgb(255, 255, 255);
  // width: 50%;
  box-shadow: 0 0 30px;
  padding: 0 3px;
  border-radius: 15px;
}

.element-todos{
  background-color: rgb(255, 255, 255);
  // width: 50%;
  box-shadow: 0 0 30px;
  right: 90%;
  padding: 0 3px;
  border-radius: 15px;
}



.feature-panel__img{
  padding: auto;
}
/////////////formulario de inicio //////



.form-label {
  margin-bottom: 0.5rem;
  color: rgb(0, 0, 0);
}
.form-label .password .optional{
  margin-bottom: 0.5rem;
  color: rgb(0, 0, 0);
}

#new_plan .form-label{
  color: rgb(0, 0, 0);
}
.card-body {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
  padding-left: 25px;
  margin-top: 9px;
}

.card-body1 {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
  padding-left: 25px;
  margin-top: 9px;
}

.card-body2 {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
  padding-left: 25px;
  margin-top: 40px;
  padding-right: 25px;
}
.card-log{
  background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 400px;
}

.card-log1{
  background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 1590px;
}

.feature-panel__img1 {

  height: auto;
  max-width: 100%;
  vertical-align: middle;
  padding: 10px;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  padding-left: 26px;
}

.row1 {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  padding-right: 26px;
}
/////////////// cards parches mas visitados///////
.event-card {

  height: auto !important;
  background-color: white;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  overflow: hidden;


}
.event-card-in {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 20px;
  overflow: hidden;
  display: block;
  height: 100%;
  position: relative;
}
.event-card.full {
  width: 50%;
  margin-bottom: 45px;
}
.event-card1 {
  height: auto !important;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 310px;
  display: flex;
  padding: 0 
}
