@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantora+One&family=Open+Sans&display=swap');


@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
// @import url('components/cards.scss');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'GT Walsheim Pro';

}

h1, h2, h3, h4 {
  font-family: 'GT Walsheim Pro';
  color: black;
}
.tipo-letra{
  color: rgba(0,0,0,0);
  text-shadow: 0 0 20px #2a6454;
  -webkit-text-stroke: 0.5px white;

}

i{
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
  font-family: 'GT Walsheim Pro';

}
.text-justify{
  color: rgb(255, 255, 255);
}
.copyright-text{
  color: rgb(255, 255, 255);
}
p{
  font-family: 'GT Walsheim Pro';
  color: rgb(0, 0, 0);

}

.letra_baner{
  font-family: 'GT Walsheim Pro';
  color: rgb(0, 0, 0);
}


.title-form{
  font-family: Poppins;
  text-align: center;
}
///////////////////////////////////////// diseño formulario
