.container-plan {
  max-width: 1000px;
  margin: auto;
  display: grid;
}

.avatar-big-plan {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  margin-top: -80px;
  margin-left: 40px;
  border-style: solid;
  border-width: 10px;
  border-color: white;
}

.container-header h5{
  color: rgb(159, 168, 168);
  margin-bottom: 0px;
  margin-top: 8px;
}


.container-header h2{
font-size: 50px;
background: linear-gradient(to right, #47DFD3 23%, rgb(5, 5, 5) 40%, rgb(5, 5, 5) 50%, #47DFD3 20%);
display: inline-block;
// background: linear-gradient(to top, rgba(71, 223, 211, 1)50%, rgba(5, 5, 5, 1) 50%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-attachment: fixed;
}
.container-header h3 {
  font-size: 35px;
  text-align: center;
}

.container-body h5{
color: rgb(159, 168, 168);
padding-left: 20px;
}

.container-body h3{
  color: rgb(13, 14, 14);
  padding-left: 20px;
  }
.avatar-big-plan > img {
  object-fit: cover;
  height: auto;
}

.avatar-medium-plan {
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}

.avatar-medium-plan > img {
  object-fit: cover;
  height: auto;
}

.card-plan{
  border-radius: 10px;
  text-align: justify;
}
.card-plan > p {
  text-align: justify;
  font-size: large;
  margin: 0px;
  color: rgb(159, 168, 168);
}

.banner-plan {
  width: 100%;
  height: 420px;
}

#list {
  list-style: none;
}

#list li {
  color: white;
  size: 30px;
}

#about-us {
  margin: auto;
  width: 60%;
  color: black;
}

.element-about{
  margin: auto;
  background-color: rgb(255, 255, 255);
  // width: 50%;
  box-shadow: 0 0 30px;
  right: 90%;
  padding: 0 3px;
  border-radius: 15px;
}

#img-about {
  height: 450px;
  object-fit: cover;
  background-image: url("https://media-cdn.tripadvisor.com/media/photo-m/1280/24/17/65/59/comuna-13-graffiti-tour.jpg");
}

#imagen-carousel {
  height: 100%;
  // object-fit: cover;
}

.container-header i {
  font-size: 30px;
  font-weight: 700;
}
//Responsive

@media(min-width: 600px) {
  .container-header {
    display: grid;
    grid-template-columns: 30% 1fr 1fr;
    grid-template-rows: 40% auto;
    gap: 10px;
    padding: 10px;
    height: 400px;
  }
  .container-header > div {
    background-color: rgba(255, 255, 255, 0.8);

    padding: 20px 0;
    font-size: 30px;
  }
  .item2 {
  grid-column-start: 2;
  grid-column-end: 4;
  }


  .container-body {
    height: auto;
    background-color: rgb(71, 223, 211);
    padding: 20px 20px 40px 20px;
    display: grid;
    grid-template-rows: 1fr 445px 0.3fr auto;
    grid-template-columns: 0.55fr 0.45fr;
    gap: 14px;
  }


  .container-body > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: justify;
    padding: 0px;
    font-size: 30px;
  }
  .item8 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .item9 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .item10 {
      grid-column-start: 1;
      grid-column-end: 3;
      height: auto;
  }
}

@media(max-width: 600px) {
  .container-header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    height: auto;
  }

  .container-header > div {
    padding: 20px 0;
    font-size: 30px;
  }

  .item2 {
    height: 300px;
  }

  .container-body {
    height: 1500px;
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;

  }
  .container-body > div {
    text-align: justify;
    padding: 22px;
    font-size: 30px;
  }
}
